@font-face {
    font-family: appleberry;
    src: url(appleberry.ttf);
}

body {
    background-color: red;
}

.mirror {
    margin: auto;
    height: 1550px;
    width: 980px;
    background-color: black;
    position: relative;

}

.clock {
    color: white;
    position: absolute;
    right: 0;
    font-size: 70px;
    background-color: transparent;
    z-index: 2;
}

.skrypt {
    text-align: center;
    color: white;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    line-height: 70px;
    z-index: 1;

}


.mirror-show-script {
    font-family: appleberry;
    font-size: 80px;
    color: white;
    line-height: 140px;
    margin: 0;
}

.current-task {
    font-family: appleberry;
    font-size: 80px;
    color: white;
    margin-bottom: 0;
    margin-top: 40px;
    /*line-height: 100px;*/
}

.outdated-task {
    font-family: appleberry;
    font-size: 60px;
    color: #8a8a8a;

    margin-bottom: 0;
    margin-top: 40px;

}
